<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My first site on flask</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
  </head>
  <body>
  
        <div id="content_container">
       	  <div id="header"> <div class="header_content_mainline"> </div> <div id="header_content_tagline">Flask is a inetesting and 
easy to learn web microframework for building web applications with Python. </div>
          
          
</div>
           
                 <div id="header_lower">  <div id="header_content_boxline_picters"> <div id="header_content_boxcontent">

 </div></div> 
          </div><div id="header_lower">  
            <div id="header_content_boxline">Svitlana Havryluik</div> 
          <div id="header_content_boxcontent">
		  <h3>Web developer (Node +React) and Flask (Python)</h3>
		  <h4>from 2015</h4>
- React/Redux;<br />
- WebSocket;<br />
- Flux архитектура;<br />
- ES6;<br />
- MongoDB;<br />		  
- Good knowledge and experience with Python 3;<br />
- Excellent HTML\CSS expertise;	<br />	  
- English level - intermediate.<br />
		 <a href="#" class="button19">Portfolio</a><br />
		  
          </div>     
        </div>
        
<div id="bottom_bar_black"> <div id="main_container">
	<div id="header_lower">  <div id="header_content_lowerline">Contact
	    <div id="header_content_lowerboxcontent">Ukrain<br />
	      Vinnitsa<br />
	      <BR /> 
        </div>
	</div> 
          </div>
</div> 
</div>
  </body>
</html>
